apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "orders-api.fullname" . }}
  labels:
    {{- include "orders-api.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "orders-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "orders-api.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
              name: http
          {{- $configMapName := default (printf "%s-env" (include "orders-api.fullname" .)) .Values.config.configMapName }}
          {{- $secretName := default (printf "%s-secret" (include "orders-api.fullname" .)) .Values.config.secretName }}
          {{- $existingSecret := .Values.config.existingSecretName }}
          {{- if or .Values.config.env (or .Values.config.secretEnv $existingSecret) }}
          envFrom:
            {{- if .Values.config.env }}
            - configMapRef:
                name: {{ $configMapName }}
            {{- end }}
            {{- if $existingSecret }}
            - secretRef:
                name: {{ $existingSecret }}
            {{- else if .Values.config.secretEnv }}
            - secretRef:
                name: {{ $secretName }}
            {{- end }}
          {{- end }}
          {{- if .Values.extraEnv }}
          env:
            {{- range .Values.extraEnv }}
            - name: {{ .name }}
              value: "{{ .value }}"
            {{- end }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
