# Default values for orders-worker Helm chart.
replicaCount: 1

image:
  repository: <acr>/orders-worker
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8081

serviceAccount:
  create: true
  name: ""

env:
  - name: KAFKA_BROKERS
    value: kafka:9092
  - name: WORKER_POLL_INTERVAL
    value: "1"

resources: {}

podAnnotations: {}

podLabels: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 75
